{% extends 'base.html' %}
{% block title %}
  About | L B Certifications Pvt. Ltd
{% endblock %}

{% block content %}
  <section class="otherSections mt-5 mb-5">
    <div class="card border-0">
      <div class="background-image" style="background-image: url('static/images/4131.jpg'); height: 40vh;"></div>
      <div class="gradient-overlay"></div>
      <div class="carousel-caption d-md-block">
        <h1 class="fw-light lh-lg">ABOUT US</h1>
        <nav class="text-center d-flex justify-content-center align-items-center" style="--bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'8\' height=\'8\'%3E%3Cpath d=\'M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z\' fill=\'%23ffffff\'/%3E%3C/svg%3E') ;" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/" class="noLink">Home</a>
            </li>
            <li class="breadcrumb-item active text-white" aria-current="page">About</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="static/images/lloyods-bureau-logo.png" class="card-img-top" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card bg-transparent border-0">
                <div class="card-body">
                  <h2 class="card-title fw-bold" style="font-size: clamp(1.75rem, 0.8571rem + 2.8571vw, 3rem); color: #0C334A;">About <span style="color: #75D457">Us</span></h2>
                  <h1 class="card-title fw-bold mt-3" style="color: #0C334A;">Welcome to LB Certifications Pvt. Ltd</h1>
                  <p class="card-text mt-3 lh-lg" style="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion mt-3" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header"><button class="accordion-button fst-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">OUR MISSION</button></h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header"><button class="accordion-button collapsed fst-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">OUR VISION</button></h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header"><button class="accordion-button collapsed fst-italic" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">OUR VALUES</button></h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0">
        <div class="container">
          <h2 class="card-title fw-bold" style="font-size: clamp(1.75rem, 0.8571rem + 2.8571vw, 3rem); color: #0C334A;">Our <span style="color: #75D457">Commitment</span></h2>
          <h6 class="card-subtitle mt-3 mb-5 text-body-secondary">Quality, Safety, and Integrity</h6>

          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item mx-1" role="presentation">
              <button class="btn enrollBtn1" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">QUALITY</button>
            </li>
            <li class="nav-item mx-1" role="presentation">
              <button class="btn enrollBtn1" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">SAFETY</button>
            </li>
            <li class="nav-item mx-1" role="presentation">
              <button class="btn enrollBtn1" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">INTEGRITY</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <h5 class="card-title fw-light mt-3">Quality Policy</h5>
              <p class="card-text mt-3 lh-lg" style="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
              <h5 class="card-title fw-light mt-3">HSE Policy</h5>
              <p class="card-text mt-3 lh-lg" style="">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
              <h5 class="card-title fw-light mt-3">Confidentiality & Impartiality Statement</h5>
              <p class="card-text mt-3 lh-lg" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid mt-5 mb-5">
    <div class="card rounded-4 pt-5 pb-5 border-0" style="background: rgba(95, 151, 170,0.2);">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 g-0 p-5">
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div class="card bg-transparent border-0">
              <div class="card-body">
                <h3 class="card-title">Internationally</h3>
                <h4 class="card-subtitle mb-2 text-body-secondary">Accredited By</h4>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card rounded-4" style="border: 1px solid #0C334A;">
              <div class="owl-carousel owl-theme carousel-1">
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2" style="border: 1px solid #75D457;">
                    <img src="static/images/9.webp" class="card-img-top rounded-4 p-3" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2" style="border: 1px solid #75D457;">
                    <img src="static/images/9.webp" class="card-img-top rounded-4 p-3" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2" style="border: 1px solid #75D457;">
                    <img src="static/images/9.webp" class="card-img-top rounded-4 p-3" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2" style="border: 1px solid #75D457;">
                    <img src="static/images/9.webp" class="card-img-top rounded-4 p-3" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2" style="border: 1px solid #75D457;">
                    <img src="static/images/9.webp" class="card-img-top rounded-4 p-3" alt="..." />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="mb-5">
    <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0">
        <div class="container">
          <h2 class="card-title fw-bold" style="font-size: clamp(1.75rem, 0.8571rem + 2.8571vw, 3rem); color: #0C334A;">Our <span style="color: #75D457">Clients</span></h2>
          <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);">Trusted by Industry Leaders Worldwide</h6>

          <div class="owl-carousel owl-theme carousel-3">
            <div class="item p-3">
              <div class="card" style="border-radius: 10px; border: 1px solid #0C334A; box-shadow: 5px 5px #75D457;">
                <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
                <div class="card-body">
                  <h6 class="card-subtitle text-body-secondary text-center">CLIENT NAME</h6>
                </div>
              </div>
            </div>
            <div class="item p-3">
              <div class="card" style="border-radius: 10px; border: 1px solid #0C334A; box-shadow: 5px 5px #75D457;">
                <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
                <div class="card-body">
                  <h6 class="card-subtitle text-body-secondary text-center">CLIENT NAME</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
