{% extends 'base.html' %}
{% block title %}
  Partner Profile | L B Certifications Pvt. Ltd
{% endblock %}
{% block content %}
  <section class="otherSections mt-5 mb-5" style="margin-top: 5.5rem;">
    <div class="mt-5 mb-5">
      <hr />
    </div>
  </section>

  <section class="otherSections mb-5" style="margin-top: 4.5rem; height: 100vh;">
    <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0 mt-5 d-flex justify-content-center align-items-center" id="individuals" style="height: 80vh;  box-shadow: 5px 5px #75D457;">
        <div class="card border-0 bg-transparent mx-auto" style="max-width: 1700px;">
          <div class="row row-cols-1 row-cols-md-2 g-0">
            <div class="col-md-8 p-3">
              <div class="card mx-auto h-100" style="max-width: 1000px; border-radius: 10px; border: 1px solid #0C334A;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div class="background-image" style="background-image: url('static/images/792.jpg'); height: 40vh; border-radius: 10px;"></div>
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                      <h3 class="card-title fw-medium">INDIVIDUALS</h3>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <p class="card-text">
                        <small class="text-body-secondary">Know More</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="card h-100" style="max-width: 700px; border-radius: 10px; border: 1px solid #0C334A;">
                <div class="card-body">
                  <h3 class="card-title fw-medium">Enquiry Form</h3>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Full Name" />
                    <label for="floatingInput">Full Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Email" />
                    <label for="floatingPassword">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingi" placeholder="Mobile Number" />
                    <label for="floatingPassword">Mobile Number</label>
                  </div>
                  <a href="#" class="btn enrollBtn">SUBMIT NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="otherSections mb-5" style="margin-top: 4.5rem; height: 100vh;">
    <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0 mt-5 d-flex justify-content-center align-items-center" id="forBusinesses" style="height: 80vh; box-shadow: 5px 5px #75D457;">
        <div class="card border-0 bg-transparent mx-auto" style="max-width: 1700px;">
          <div class="row row-cols-1 row-cols-md-2 g-0">
            <div class="col-md-8 p-3">
              <div class="card mx-auto h-100" style="max-width: 1000px; border-radius: 10px; border: 1px solid #0C334A;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div class="background-image" style="background-image: url('static/images/19222.jpg'); height: 40vh; border-radius: 10px;"></div>
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                      <h3 class="card-title fw-medium">FOR BUSINESSES</h3>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <p class="card-text">
                        <small class="text-body-secondary">Know More</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="card h-100" style="max-width: 700px; border-radius: 10px; border: 1px solid #0C334A;">
                <div class="card-body">
                  <h3 class="card-title fw-medium">Enquiry Form</h3>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Full Name" />
                    <label for="floatingInput">Full Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Email" />
                    <label for="floatingPassword">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingi" placeholder="Mobile Number" />
                    <label for="floatingPassword">Mobile Number</label>
                  </div>
                  <a href="#" class="btn enrollBtn">SUBMIT NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="otherSections mb-5" style="margin-top: 4.5rem; height: 100vh;">
    <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0 mt-5 d-flex justify-content-center align-items-center" id="forGovernments" style="height: 80vh; box-shadow: 5px 5px #75D457;">
        <div class="card border-0 bg-transparent mx-auto" style="max-width: 1700px;">
          <div class="row row-cols-1 row-cols-md-2 g-0">
            <div class="col-md-8 p-3">
              <div class="card mx-auto h-100" style="max-width: 1000px; border-radius: 10px; border: 1px solid #0C334A;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div class="background-image" style="background-image: url('static/images/2147838542.jpg'); height: 40vh; border-radius: 10px;"></div>
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                      <h3 class="card-title fw-medium">FOR GOVERNMENTS</h3>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <p class="card-text">
                        <small class="text-body-secondary">Know More</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="card h-100" style="max-width: 700px; border-radius: 10px; border: 1px solid #0C334A;">
                <div class="card-body">
                  <h3 class="card-title fw-medium">Enquiry Form</h3>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Full Name" />
                    <label for="floatingInput">Full Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Email" />
                    <label for="floatingPassword">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingi" placeholder="Mobile Number" />
                    <label for="floatingPassword">Mobile Number</label>
                  </div>
                  <a href="#" class="btn enrollBtn">SUBMIT NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid mb-5">
    <div class="card rounded-4 pt-5 pb-5 border-0" style="background: rgba(95, 151, 170,0.2);">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4 pt-5 pb-5">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="card bg-transparent border-0">
              <div class="card-body">
                <h4 class="card-subtitle mb-2 text-body-secondary">Accredited By</h4>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card rounded-4 border-0">
              <div class="owl-carousel owl-theme carousel-1">
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2">
                    <img src="static/images/9.webp" class="card-img-top rounded-4" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2">
                    <img src="static/images/9.webp" class="card-img-top rounded-4" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2">
                    <img src="static/images/9.webp" class="card-img-top rounded-4" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2">
                    <img src="static/images/9.webp" class="card-img-top rounded-4" alt="..." />
                  </div>
                </div>
                <div class="item p-3">
                  <div class="card rounded-4 mt-2 mb-2">
                    <img src="static/images/9.webp" class="card-img-top rounded-4" alt="..." />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
