<section class="">
    <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0 mt-5 mb-5" style="background-color: white !important;">

            <div class="container" data-aos="fade-up" data-aos-duration="1000">
                <div class="owl-carousel owl-theme carousel-1">
                    <div class="item p-2">
                        <div class="card rounded-4 homeCard border-0">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                            </div>
                            <div class="text-end" style="margin: 20px;">
                                <a href="#" class="click-to-know-more">Enroll now &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2">
                        <div class="card rounded-4 homeCard border-0">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                            </div>
                            <div class="text-end" style="margin: 20px;">
                                <a href="#" class="click-to-know-more">Enroll now &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2">
                        <div class="card rounded-4 homeCard border-0">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">ECITB International MJI: Hand Torque,
                                    Hydraulically Torque and Tension Bolted Connection Techniques (IMJI 10-20)
                                </h5>
                            </div>
                            <div class="text-end" style="margin: 20px;">
                                <a href="#" class="click-to-know-more">Enroll now &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2">
                        <div class="card rounded-4 homeCard border-0">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                            </div>
                            <div class="text-end" style="margin: 20px;">
                                <a href="#" class="click-to-know-more">Enroll now &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2">
                        <div class="card rounded-4 homeCard border-0">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                            </div>
                            <div class="text-end" style="margin: 20px;">
                                <a href="#" class="click-to-know-more">Enroll now &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0 position-relative" style="overflow: hidden;">
            <!-- Adding a pseudo-element for opacity control -->
            <div class="background-overlay position-absolute w-100 h-100" style="
              background-image: url('static/images/element.JPG'); 
              background-repeat: repeat; 
              background-size: 35px 35px; 
              position: absolute !important; 
              opacity: 0.1; 
              top: 0; 
              left: 0; 
              z-index: 0;">
            </div>
            <div class="container position-relative" data-aos="fade-up" data-aos-duration="1000" style="z-index: 1;">
                <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Internationally Accredited By
                </h2>
                <br>
                <div class="owl-carousel owl-theme carousel-2">
                    <div class="item p-3">
                        <div class="card bg-transparent" style="border-radius: 10px; border: none;">
                            <div class="clientImage" style="background-image: url('static/images/9.webp');"></div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="card bg-transparent" style="border-radius: 10px; border: none;">
                            <div class="clientImage" style="background-image: url('static/images/9.webp');"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container-fluid position-relative">
        <!-- Content Section -->
        <div class="card rounded-4 pt-5 pb-5 border-0 position-relative about-card">
            <!-- Background Image Layer -->
            <div class="about-bg-image"></div>

            <div class="container position-relative" style="z-index: 2;">
                <div class="row row-cols-1 row-cols-md-2 g-4 p-4 align-items-stretch" data-aos="fade-up"
                    data-aos-duration="1000">

                    <!-- Left Container -->
                    <div class="col d-flex">
                        <div class="card bg-transparent border-0 text-white w-100">
                            <div class="card-body d-flex flex-column">
                                <h1 class="fw-bold mb-3 about-title">Get to know us</h1>
                                <p class="lh-lg about-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley of type
                                    and scrambled it to make a type specimen book.
                                </p>
                                <br>
                                <div>
                                    <a href="#" class="btn btn-light fw-bold rounded-10 about-btn">
                                        Explore More <span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Right Container -->
                    <div class="col d-flex">
                        <div class="card bg-transparent border-0 text-white w-100">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="pb-3 mt-3">
                                        <h4 class="about-h4">Who we are <i class="ri-user-line fs-5"></i></h4>
                                    </li>
                                    <li class="pb-3 mt-3">
                                        <h4 class="about-h4">Our Quality Statement <i class="ri-bard-line fs-5"></i>
                                        </h4>
                                    </li>
                                    <li class="pb-3 mt-3">
                                        <h4 class="about-h4">Our Impartiality Statement <i
                                                class="ri-scales-3-line fs-5"></i></h4>
                                    </li>
                                    <li class="pb-3 mt-3">
                                        <h4 class="about-h4">Our Commitments <i class="ri-shake-hands-line fs-5"></i>
                                        </h4>
                                    </li>
                                    <li class="pb-3 mt-3">
                                        <h4 class="about-h4">Certification and Accreditations <i
                                                class="ri-checkbox-line fs-5"></i></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0">
            <div class="container" data-aos="fade-up" data-aos-duration="1000">

                <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Most Demanded Courses
                </h2>
                <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px; ">Elevate Your
                    Skills with Our Top-Rated Programs</h6>

                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card cardCourse p-3 h-100">
                            <div class="cardImage"
                                style="background-image: url('static/images/2148784052.jpg'); height: 200px; background-size: cover; background-position: center;">
                            </div>
                            <div class="card-body mt-4">
                                <h5 class="card-title">Course Name</h5>
                                <p class="card-text">
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                    for those interested.
                                </p>
                                <a href="#" class="click-to-know-more">Click to know more &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card cardCourse p-3 h-100">
                            <div class="cardImage"
                                style="background-image: url('static/images/2148784052.jpg'); height: 200px; background-size: cover; background-position: center;">
                            </div>
                            <div class="card-body mt-4">
                                <h5 class="card-title">Course Name</h5>
                                <p class="card-text">
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                    for those interested.
                                </p>
                                <a href="#" class="click-to-know-more">Click to know more &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card cardCourse p-3 h-100">
                            <div class="cardImage"
                                style="background-image: url('static/images/2148784052.jpg'); height: 200px; background-size: cover; background-position: center;">
                            </div>
                            <div class="card-body mt-4">
                                <h5 class="card-title">Course Name</h5>
                                <p class="card-text">
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                    for those interested.
                                </p>
                                <a href="#" class="click-to-know-more">Click to know more &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card cardCourse p-3 h-100">
                            <div class="cardImage"
                                style="background-image: url('static/images/2148784052.jpg'); height: 200px; background-size: cover; background-position: center;">
                            </div>
                            <div class="card-body mt-4">
                                <h5 class="card-title">Course Name</h5>
                                <p class="card-text">
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                    for those interested.
                                </p>
                                <a href="#" class="click-to-know-more">Click to know more &nbsp;<span class="fw-bold"><i
                                            class='bx bx-right-arrow-alt'></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="button" class="btn enrollBtn">Show more &nbsp;<span class="fw-bold"><i
                                class='bx bx-right-arrow-alt'></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0 position-relative" style="overflow: hidden;">
            <!-- Adding a pseudo-element for opacity control -->
            <div class="background-overlay position-absolute w-100 h-100" style="
              background-image: url('static/images/element.JPG'); 
              background-repeat: repeat; 
              background-size: 35px 35px; 
              position: absolute !important;
              opacity: 0.1; 
              top: 0; 
              left: 0; 
              z-index: 0;
              margin-top: 14px">
            </div>
            <div class="container position-relative" data-aos="fade-up" data-aos-duration="1000" style="z-index: 1;">
                <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Our Clients</h2>
                <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Trusted by Industry
                    Leaders Worldwide</h6>

                <div class="owl-carousel owl-theme carousel-3">
                    <div class="item p-3">
                        <div class="card bg-transparent" style="border-radius: 10px; border: none;">
                            <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="card bg-transparent" style="border-radius: 10px; border: none;">
                            <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container-fluid" style="position: relative; overflow: hidden;">

        <div class="card rounded-4 pt-5 pb-5 border-0" style="position: relative; z-index: 1; border-radius: 20px;">
            <!-- Background Video -->
            <video autoplay loop muted
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; opacity: 0.9; border-radius: 10px;">
                <source src="static/videos/joinus.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="container" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="card-title fw-bold" style="font-size: 38px; color: white ; text-align: left;">Join Our Team
                </h2>
                <h3 class="card-subtitle mt-3 mb-5 text-white" style="font-size: 18px; text-align: left; color: white;">
                    Join. Grow. Succeed.</h3>
                <br>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col-md-4">
                        <div class="card"
                            style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.8); height: 250px; position: relative;">
                            <div class="card-body">
                                <h5 class="card-title">Career Title</h5>
                                <p class="card-subtitle mb-5"
                                    style="color: #0C334A; font-size: 16px; margin-top: 30px;">Job ID : 224425</p>
                                <h6 class="card-subtitle mb-2" style="color: #0C334A; margin-top: -30px;">
                                    <i class='bx bxs-briefcase-alt-2 mx-auto'></i> Full Time
                                </h6>
                                <p class="card-text">Job Description</p>
                                <br>

                                <!-- Additional Headings Aligned to the Right -->
                                <div style="position: absolute; top: 70px; right: 20px; text-align: left;">
                                    <h6 style="color: #0C334A; font-weight: 500;">Contract Type : Permanent</h6>
                                    <h6 style="color: #0C334A; font-weight: 500; margin-top: 20px;">Cochin, Kerala,
                                        India</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="h-90 d-flex justify-content-center align-items-center">
                            <h9 class="card-text" style="color: #75d457; font-size: 40px;">
                                "Hire Character<br>Train Skills"
                            </h9>

                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="button" class="btn enrollBtn">Show more &nbsp;<span class="fw-bold"><i
                                class='bx bx-right-arrow-alt'></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0">
            <div class="container" data-aos="fade-up" data-aos-duration="1000">

                <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">What Our Client Says</h2>
                <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Hear from Our Satisfied
                    Trainees and Partners</h6>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <!-- First Carousel -->
                    <div class="col d-flex">
                        <div class="card border-0 h-100">
                            <div id="carouselFirst" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner h-100">
                                    <div class="carousel-item active h-100">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="card border-0 w-100">
                                                <div class="testimonial-container d-flex align-items-start">
                                                    <div class="text-center me-3">
                                                        <img src="https://images.unsplash.com/photo-1560674457-12073ed6fae6?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D"
                                                            class="profile-img" alt="Profile Image">
                                                        <div class="star-rating mt-2">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-content">
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="name mt-2 mb-0">Name</p>
                                                        <p class="position">Position</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item active h-100">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="card border-0 w-100">
                                                <div class="testimonial-container d-flex align-items-start">
                                                    <div class="text-center me-3">
                                                        <img src="https://images.unsplash.com/photo-1560674457-12073ed6fae6?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D"
                                                            class="profile-img" alt="Profile Image">
                                                        <div class="star-rating mt-2">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-content">
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="name mt-2 mb-0">Name</p>
                                                        <p class="position">Position</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Middle Image (Image with Button Below) -->
                    <div class="col d-flex flex-column align-items-center">
                        <div class="card border-0 h-100 w-100">
                            <img src="https://images.pexels.com/photos/906982/pexels-photo-906982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="" class="img-fluid rounded-3 w-100">
                        </div>
                        <button class="btn enrollBtn mt-3">Write to Us&nbsp;<span class="fw-bold"><i
                                    class='bx bx-right-arrow-alt'></i></span></button>
                    </div>

                    <!-- Second Carousel -->
                    <div class="col d-flex">
                        <div class="card border-0 h-100">
                            <div id="carouselSecond" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner h-100">
                                    <div class="carousel-item active h-100">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="card border-0 w-100">
                                                <div class="testimonial-container d-flex align-items-start">
                                                    <div class="text-center me-3">
                                                        <img src="https://images.unsplash.com/photo-1560674457-12073ed6fae6?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D"
                                                            class="profile-img" alt="Profile Image">
                                                        <div class="star-rating mt-2">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-content">
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="name mt-2 mb-0">Name</p>
                                                        <p class="position">Position</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item active h-100">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="card border-0 w-100">
                                                <div class="testimonial-container d-flex align-items-start">
                                                    <div class="text-center me-3">
                                                        <img src="https://images.unsplash.com/photo-1560674457-12073ed6fae6?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D"
                                                            class="profile-img" alt="Profile Image">
                                                        <div class="star-rating mt-2">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-content">
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="testimonial-text">Contrary to popular belief, Lorem
                                                            Ipsum is not simply random text.</p>
                                                        <p class="name mt-2 mb-0">Name</p>
                                                        <p class="position">Position</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Locations Section -->
<section id="our-locations" class="mt-5" style="margin: 0;">
    <div class="container-fluid" style="box-sizing: border-box;">
        <div class="card rounded-4 pt-5 pb-5 border-0">
            <div class="container text-left" data-aos="fade-down" data-aos-duration="1000"
                style="margin-bottom: -140px;">
                <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Our Locations</h2>
                <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Global
                    Presence, Local Expertise</h6>

                <!-- World map container -->
                <div class="map-container position-relative mx-auto" style="width: 100%;">
                    <img src="static/images/maplocations.jpg" alt="World map" class="img-fluid rounded-3">
                    <!-- Location pins -->
                    <div class="pin" style="top: 30%; left: 18%;">
                        <span style="color: #0C334A;">
                            <h2 style="background-color: #0C334A; color: #75d457; font-size: 16px; padding: 15px;">
                                CANADA</h2>
                            <i class="ri-map-pin-line fs-5" style="color: #75d457"></i> Lloyds Bureau <br> <i
                                class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>1810 37c <br> <i
                                class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Ave NW Edmonton <br>
                            <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Albverta T6T 1S5 <br>
                            <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Canada <br><br>
                            <i class="ri-phone-line fs-5" style="color: #75d457"></i> +1 78 022 89851 <br>
                            <i class="ri-mail-line fs-5" style="color: #75d457"></i> sales.canada@lloydsbureau.com <br>
                            <i class="ri-links-line fs-5" style="color: #75d457"></i> https://www.lloydsbureau.com
                        </span>
                    </div>
                    <div class="pin" style="top: 34%; left: 47%;">
                        <span style="color: #0C334A;">
                            <h2 style="background-color: #0C334A; color: #75d457; font-size: 16px; padding: 15px;">
                                UNITED KINGDOM</h2>
                            <i class="ri-map-pin-line fs-5" style="color: #75d457"></i> Lloyds Bureau <br> <br> <br>
                            <br> <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>UNITED KINGDOM
                            <br><br>
                            <i class="ri-phone-line fs-5" style="color: #75d457"></i> +974 33112974 <br>
                            <i class="ri-mail-line fs-5" style="color: #75d457"></i>
                            sales.unitedkingdom@lloydsbureau.com <br>
                            <i class="ri-links-line fs-5" style="color: #75d457"></i> https://www.lloydsbureau.com
                        </span>
                    </div>
                    <div class="pin" style="top: 50%; left: 61%;">
                        <span style="color: #0C334A;">
                            <h2 style="background-color: #0C334A; color: #75d457; font-size: 16px; padding: 15px;">QATAR
                            </h2>
                            <i class="ri-map-pin-line fs-5" style="color: #75d457;"></i> Lloyds Bureau <br> <i
                                class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Sayer Building <br> <i
                                class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Barwa Commercial
                            Avenue <br> <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>O.O.Box -
                            40230 <br> <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Qatar
                            <br><br>
                            <i class="ri-phone-line fs-5" style="color: #75d457"></i> +974 33112974 <br>
                            <i class="ri-mail-line fs-5" style="color: #75d457"></i> sales.qatar@lloydsbureau.com <br>
                            <i class="ri-links-line fs-5" style="color: #75d457"></i> https://www.lloydsbureau.com
                        </span>
                    </div>
                    <div class="pin" style="top: 54%; left: 68%;">
                        <span style="color: #0C334A;">
                            <h2 style="background-color: #0C334A; color: #75d457; font-size: 16px; padding: 15px;">INDIA
                            </h2>
                            <i class="ri-map-pin-line fs-5" style="color: #75d457"></i> Lloyds Bureau <br> <i
                                class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Suit no #315, <br> <i
                                class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Building No: 24/1701,
                            <br> <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>2nd Floor, KC
                            Arcade, <br> <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>CSED P.O -
                            682037 <br> <i class="ri-map-pin-line fs-5" style="color:rgb(255, 255, 255)"></i>Ernakulam,
                            Kerala, India <br><br>
                            <i class="ri-phone-line fs-5" style="color: #75d457"></i> +91 9847000190 <br>
                            <i class="ri-mail-line fs-5" style="color: #75d457"></i> sales.india@lloydsbureau.com <br>
                            <i class="ri-links-line fs-5" style="color: #75d457"></i> https://www.lloydsbureau.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .testimonial-container {
        display: flex;
        align-items: flex-start;
        font-family: Arial, sans-serif;
        max-width: 700px;
        margin: auto;
        padding: 20px;
    }

    .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .testimonial-content {
        display: flex;
        flex-direction: column;
    }

    .testimonial-text {
        font-size: 15px;
        color: #333;
        margin: 0 0 10px 0;
    }

    .name {
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }

    .position {
        font-size: 14px;
        color: gray;
    }

    .star-rating i {
        font-size: 16px;
    }
</style>